@page
@model WebApplication2.Pages.Usuarios.CadastrarModel
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<form>
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input class="form-control-sm" placeholder="Nome" name="usuario.Nome" value="@Model.usuario.Nome" type="text" id="nome">
    </div>

    <div>
        <label for="senha">Senha:</label>
        <input class="form-control-sm" placeholder="Senha" name="usuario.Senha" type="password" id="senha">
    </div>

    <div class="custom-checkbox">
            <label> <input type="checkbox" > Lembrar de mim </label>
            
        </div>
    <br />
    <div class="button">
        <button type="submit" class="btn btn-primary btn-sm" >Enviar</button>
    </div>
</form>